/*********************
Name: Rameel Zahid
Assignment: 07
Purpose: This is the main css that controls the visuals for the MVC.
**********************/


/*
***************************************
Mobile First CSS
***************************************
*/

nav {
  list-style-type: none;
  margin: 0;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family:Impact, Charcoal, sans-serif;
}

a {
		border:1px solid;
		display: block;
		color: maroon;
		padding: 9px 16px;
		font-family:Impact, Charcoal, sans-serif;
		background-color:beige
}

a:hover {
	background-color: lightblue;
    color: purple;
}

h1 {
	font-family:Impact, Charcoal, sans-serif;
	color:indigo;
	text-align:center;
	
}
h2 {
	font-family:Impact, Charcoal, sans-serif;
	color:indianred;
	text-align:center;
	font-size: 36px:
}

em{
	font-family:Impact, Charcoal, sans-serif;
	color:teal;
	text-align:center;
}

.copyright {

	text-align:center;
}

p{
	font-family:Impact, Charcoal, sans-serif;
	color:steelblue;
	text-align:center;
}

body{
		background-color:WhiteSmoke;
	}

.input-group {
	text-align:center;

	
}

.frm-submit {
	text-align:center;
}

.content-frm {

	text-align:center;

}

input[type=submit] {
  width: 100%;
  font-family:Impact, Charcoal, sans-serif;
  background-color: lightblue;
  color: indigo;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/*
***************************************
Media Queries
***************************************
*/

/*this is for tablet*/
@media (min-width: 468px) and (max-width: 768px) {
    nav {
	  list-style-type: none;
	  margin: 0;
	  display: block;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 20px;
	  font-family:Impact, Charcoal, sans-serif;
	}

	a {
		border:1px solid;
		display: block;
		color: maroon;
		padding: 9px 16px;
		font-family:Impact, Charcoal, sans-serif;
		background-color:beige;
	}

	a:hover {
		background-color: lightblue;
		color: purple;
	}
	h1 {
	font-family:Impact, Charcoal, sans-serif;
	color:indigo;
	text-align:center;
	
	}
	h2 {
		font-family:Impact, Charcoal, sans-serif;
		color:indianred;
		text-align:center;
		font-size: 36px;
	}

	em{
		font-family:Impact, Charcoal, sans-serif;
		color:teal;
		text-align:center;
	}
	
	p{
	font-family:Impact, Charcoal, sans-serif;
	color:steelblue;
	text-align:center;
	font-size: 18px;
	}
	
	body{
		background-color:MistyRose;
	}

	.input-group {
	text-align:center;

	
	}

	.frm-submit {
		text-align:center;
	}
	input[type=submit] {
	  width: 66.666666%;
	  font-family:Impact, Charcoal, sans-serif;
	  background-color: lightblue;
	  color: indigo;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

    
}

/*this is for desktop*/
@media (min-width: 768px) {
	nav {
	  list-style-type: none;
	  margin: 0;
	  display: block;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 20px;
	  font-family:Impact, Charcoal, sans-serif;
	}

	a {
		border:1px solid;
		display: block;
		color: maroon;
		padding: 9px 16px;
		font-family:Impact, Charcoal, sans-serif;
		background-color:beige;
	}

	a:hover {
		background-color: lightblue;
		color: purple;
	}
	h1 {
	font-family:Impact, Charcoal, sans-serif;
	color:indigo;
	text-align:center;
	
	}
	h2 {
		font-family:Impact, Charcoal, sans-serif;
		color:indianred;
		text-align:center;
		font-size: 36px;
	}

	em{
		font-family:Impact, Charcoal, sans-serif;
		color:teal;
		text-align:center;
	}
	
	p{
	font-family:Impact, Charcoal, sans-serif;
	color:steelblue;
	text-align:center;
	font-size: 18px;
	}
	
	body{
		background-color:NavajoWhite;
	}

	
	.input-group {
	text-align:center;

	
	}

	.frm-submit {
		text-align:center;
	}
	
	input[type=submit] {
	  width: 33.333333%;
	  font-family:Impact, Charcoal, sans-serif;
	  background-color: lightblue;
	  color: indigo;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	
    
}
